@model ProductInputViewModel

@{ 
    ViewData["Title"] = "Administração de produtos";
    ViewBag.Subtitle2 = "Criar novo produto";
}

<h3>@ViewBag.Subtitle2</h3>

<div class="row">
    <div class="col-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="col-form-label mt-4"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Section" class="col-form-label mt-4"></label>
                <select asp-for="Product.Section.Id" asp-items="@(new SelectList(Model.Sections, "Id","Name"))"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Product.Price" class="col-form-label mt-4"></label>
                <div class="input-group mb-3">
                    <span class="input-group-text">R$</span>
                    <input asp-for="Product.Price" class="form-control" />
                    <span class="input-group-text">,00</span>
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
            </div>

            <div>
                <a class="btn btn-outline-dark" style="float: right" asp-action="Index">Cancelar</a>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Confirmar" style="float: right" />
            </div>
        </form>
    </div>
</div>