@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Início";
    ViewData["Subtitle"] = "Seja bem-vindo ao sistema online da loja Your Dressing: Você, bem vestido!";
}

<div class="row">
    <div class="container" style="display: inline-block">
        <h3 style="float: left">@ViewBag.Subtitle2</h3>

        <a class="btn btn-outline-dark" style="float: right" asp-controller="Employees" asp-action="Index">
            Mais ações
        </a>
    </div>  
</div>

<div class="row">
    <div class="container">
        <partial name="_EmployeesPartial" for="@Model" />

        <a class="btn btn-outline-dark" style="float: right" asp-controller="Employees" asp-action="Index">
            Outros funcionários
        </a>
    </div>
</div>