@model SaleInputViewModel

@{ 
    ViewData["Title"] = "Administração de vendas";
    ViewBag.Subtitle2 = "Criar nova venda";
}

<h3>@ViewBag.Subtitle2</h3>

<div class="row">
    <div class="col-12">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Sale.Employee" class="col-form-label mt-4"></label>
                <input type="text" class="form-control"
                       placeholder="@Html.DisplayFor(model => model.Sale.Employee.Name)" readonly="" />
            </div>

            <label class="col-form-label mt-4">Produtos da venda</label>
            <div class="container">
                <div class="form-group">
                    @for (int productsCount = 0; productsCount < Model.ItemsQuantity; productsCount++)
                    {
                        <div class="col-6" style="display:inline-block">
                            <label class="col-form-label mt-4">Produto @(productsCount + 1):</label>
                            <select class="form-control" asp-for="Sale.OrderProducts[productsCount].ProductId" asp-items="Model.Products"></select>
                        </div>

                        <div class="col-4" style="display:inline-block">
                            <label class="col-form-label mt-4">Quantidade:</label>
                            <input type="number" Sale.OrderProducts[productsCount].Quantity" class="form-control" required="" />
                        </div>
                    }
                </div>
            </div>

            <div>
                <a asp-action="Index" class="btn btn-outline-dark" style="float:right">Cancelar</a>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="Sale.EmployeeId" />
                <input type="submit" class="btn btn-success" style="float:right" value="Confirmar" />
            </div>
        </form>

        <p class="text-info">Atente-se: após a criação dessa venda, não será possível editá-la. Confira as informações antes de confirmar o envio.</p>
    </div>
</div>