@model Employee

@ViewData["Subtitle2"]

<div class="container">
    <div class="col-5">
        <fieldset>
            <label asp-for="Name" class="form-label mt-4"></label>
            <input class="form-control" type="text" placeholder="@Html.DisplayFor(model => model.Name)"
                   readonly="" />
            <label asp-for="Birthdate" class="form-label mt-4"></label>
            <input class="form-control" type="text" placeholder="@Html.DisplayFor(model => model.Birthdate)"
                   readonly="" />
            <label asp-for="Section" class="form-label mt-4"></label>
            <input class="form-control" type="text" placeholder="@Html.DisplayFor(model => model.Section.Name)"
                   readonly="" />
        </fieldset>

        <wbr />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-outline-dark" style="float:right">Cancelar</a>
            <input type="submit" value="Confirmar" class="btn btn-danger" style="float:right" />
        </form>
    </div>
</div>